
* {
    margin: 0;
    padding: 0;
 }
 
body {
  background-color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
}

.barra {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  background-color: #fff;
  position: fixed;
  
  box-shadow: 0 0 5px red;
}

.titulo > h1 {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.titulo > p {
  text-align: center;
}

#btn-menu {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
}

.icone-menu {
  width: 35px;
  height: 4px;
  margin: 3px;
  background-color: #BB0000;
}


a {
  text-decoration: none;
  color:#fff;
}

.btn-troca-tema {
  display: flex;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 5px;
  margin-right: 10px;
  justify-content: end;
  border: 2px solid gray;
}

.icone-troca-tema {
  height: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
}

/*css menu*/
#menu {
    width: 200px;
    height: 100vh;
    background: #bb0000;
    opacity: 0.75;
    color: #fff;
    box-shadow: 0 0 5px #BB0000;
    padding: 20px;
    margin-left: -250px;
    margin-top: 60px;
    position: fixed;
    transition: 0.5s;
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
}

#menu > h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

#slide {
  width: 300px;
  margin-bottom: 20px;

}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin:auto;
  margin-top: 70px;
  width: 85%;
  padding: 1rem;
  box-shadow: 0 0 5px #BB0000;
}


.content > p {
  padding: 20px;
  font-size: 18px;
  text-align: justify;
  
}

#btn {
  height: 50px;
  width: 150px;
  background-color: #BB0000;
}

#btn:active {
  background-color: red;
}

.img-produto {
  width: 250px;
  
}